@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: 'Poppins';
  background-image: url("https://wallpaperset.com/w/full/e/2/b/492399.jpg");
  background-repeat: no-repeat;
}

#glavni {
  margin: 0 auto;
  width: 100%;
}

#glavni #meni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: rgba(68, 18, 18, 0.733);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 98px;
}

#glavni #meni ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

#glavni #meni ul a {
  color: #ebe5e5;
  font-weight: bold;
  text-decoration: none;
}

#glavni #meni ul a:hover {
  color: #f86262;
}

#glavni #meni ul li {
  text-align: center;
  width: 100%;
}

#glavni #grupe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(91, 138, 53, 0.89);
  text-align: center;
}

#glavni #grupe #tabela th {
  border: 1px solid red;
}

#glavni #grupe #tabela td {
  padding: 5px;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px solid yellow;
}

#glavni #studenti {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 250px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
  width: 100%;
  background-color: #f3f3c6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#glavni #studenti .cell {
  border: 1px solid black;
  padding: 20px;
}

#glavni #studenti .cell p {
  text-align: center;
}

@media screen and (max-width: 499px) {
  #glavni #grupe #tabela tr th:nth-of-type(2) {
    display: none;
  }
  #glavni #grupe #tabela tr th:nth-of-type(3) {
    display: none;
  }
  #glavni #grupe #tabela tr td:nth-of-type(2) {
    display: none;
  }
  #glavni #grupe #tabela tr td:nth-of-type(3) {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  #glavni #meni {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #glavni #meni ul li {
    display: inline;
  }
  #glavni #meni ul li a {
    margin-left: 10px;
  }
}

@media screen and (min-width: 800px) {
  #glavni {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 20% 20% 20% 20%;
        grid-template-columns: 20% 20% 20% 20% 20%;
  }
  #glavni div {
    border: 2px solid black;
  }
  #glavni #meni {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 6;
  }
  #glavni #meni ul li {
    display: inline;
  }
  #glavni #studenti {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  #glavni #grupe {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 6;
  }
}
/*# sourceMappingURL=style.css.map */