@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    font-family: 'Poppins';
    background-image: url("https://wallpaperset.com/w/full/e/2/b/492399.jpg");
    background-repeat: no-repeat;
}


#glavni{
    margin: 0 auto;
    width: 100%;
    #meni{
        display: flex;
        width: 100%;
        background-color: rgba(68, 18, 18, 0.733);
        justify-content: center;
        height: 98px;
        ul{
            width: 100%;
            list-style-type: none;
            padding: 0;
            
            a{
                color: rgb(235, 229, 229);
                font-weight: bold;
                text-decoration: none;
            }
            a:hover{
                color: rgb(248, 98, 98);
            }
            li{
                text-align: center;
                width: 100%;
            }
            
        }
    }
    #grupe{
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: rgba(91, 138, 53, 0.89);
        text-align: center;
        #tabela{
            th{
                border: 1px solid red;
            }
            td{
                padding: 5px;
                align-content: center;
                border: 1px solid yellow;
            }
        }
    }
    
    #studenti{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(100px,250px));
        width: 100%;
        background-color: rgb(243, 243, 198);
        justify-content: center;
        .cell{
            border: 1px solid black;
            padding: 20px;
           
            p{
                text-align: center;
                
            }
        }
    }

}
@media screen and (max-width: 499px){
    #glavni{
        #grupe{
            #tabela{
                tr{
                    th:nth-of-type(2){
                        display: none;
                    }
                    th:nth-of-type(3){
                        display: none;
                    }

                    td:nth-of-type(2){
                        display: none;
                    }
                    td:nth-of-type(3){
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 500px) {
     #glavni{
        #meni{
            justify-content: start;
            ul{
                li{
                    a{margin-left: 10px};
                    display: inline;
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {
    #glavni{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;

        div{
            border: 2px solid black;
        }

        #meni{
            grid-column-start: 1;
            grid-column-end: 6;
            ul{
                li{
                    display: inline;
                }
            }
        }
        #studenti{
            grid-row: 2;
            grid-column-start: 1;
            grid-column-end: 4;
        }   
        #grupe{
            grid-row: 2;
            grid-column-start: 4;
            grid-column-end: 6;
        } 


    }
    

}







