@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: 'Poppins';
  background-image: url("https://wallpaperset.com/w/full/e/2/b/492399.jpg");
  background-repeat: no-repeat;
}

#glavni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#glavni .forma-div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(168, 25, 25, 0.712);
  color: white;
  margin: 0 auto;
  margin-top: 10%;
  padding: 15px;
  width: 50%;
  border-radius: 20px;
}

#glavni .forma-div .naslov {
  color: #51e9aa;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
  font-style: italic;
  font-size: 2vw;
}

#glavni .forma-div #forma-zadatak, #glavni .forma-div #forma-error {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3px;
}

#glavni .forma-div #forma-zadatak input, #glavni .forma-div #forma-zadatak label, #glavni .forma-div #forma-zadatak select, #glavni .forma-div #forma-error input, #glavni .forma-div #forma-error label, #glavni .forma-div #forma-error select {
  width: 100%;
}

#glavni .forma-div #forma-zadatak select, #glavni .forma-div #forma-error select {
  font-style: italic;
}

#glavni .forma-div #forma-zadatak input[type=submit], #glavni .forma-div #forma-error input[type=submit] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: bold;
}

#glavni .forma-div #forma-zadatak input[type=checkbox], #glavni .forma-div #forma-error input[type=checkbox] {
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
/*# sourceMappingURL=style.css.map */