@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    font-family: 'Poppins';
    background-image: url("https://wallpaperset.com/w/full/e/2/b/492399.jpg");
    background-repeat: no-repeat;
}
#glavni{
    display: flex;
    flex-direction: column;
    
    .forma-div{
        align-items: center;
        background-color: rgba(168, 25, 25, 0.712);
        color: white;
        margin: 0 auto;
        margin-top: 10%;
        padding: 15px;
        width: 50%;
        border-radius: 20px;

        .naslov{
            color: rgb(81, 233, 170);
            width: fit-content;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 1em;
            font-style: italic;
            font-size:2vw;
        }


        #forma-zadatak,#forma-error{
            width: 50%;  
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 3px;
            

            input,label,select{
                width: 100%;
            }
            select{
                
                font-style: italic;
            }

            input[type=submit]{
                width: fit-content;
                margin: 0 auto;
                margin-top: 10px;
                background-color: black;
                color: white;
                border-radius: 8px;
                padding: 5px 10px;
                font-size: 1em;
                font-weight: bold;
            }
            
            input[type=checkbox]{
                display: inline;
                width: fit-content;
                    
            }
            
        }
    }
}