@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    font-family: 'Poppins';
    background-image: url("https://wallpaperset.com/w/full/e/2/b/492399.jpg");
    background-repeat: no-repeat;
}

#glavni{

    margin: 0 auto;
    width: 100%;

    #meni{
        display: flex;
        width: 100%;
        background-color: rgba(68, 18, 18, 0.733);
        justify-content: center;
        height: 98px;
        ul{
            width: 100%;
            list-style-type: none;
            padding: 0;

            a{
                color: rgb(235, 229, 229);
                font-weight: bold;
                text-decoration: none;
            }
            a:hover{
                color: rgb(248, 98, 98);
            }
            li{
                text-align: center;
                width: 100%;
            }
            
        }
    }
    #odabirVjezbe{
        display: flex;
        background-color: rgba(91, 138, 53, 0.89);
        flex-direction: column;
        padding: 2px;
        .vjezba{
            display: flex;
            margin: 0 auto;
            margin-top: 2px;
            margin-bottom: 2px;
            flex-direction: column;
            width: 90%;
            background-color: rgb(231, 230, 230);

            h3{
                margin: 0 auto;
            }

            .zadaci{
                display: flex;
                background-color: rgba(80, 23, 23, 0.582);
                overflow-x: scroll;
                .zadatak{
                    font-style: italic;
                    margin: 4px;
                    padding: 4px;
                    background-color: rgb(133, 206, 126);
                }

            }
            .zadaciInvisible{
                display: none;
            }
        }
    }
    .graf{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgba(91, 138, 53, 0.89);
        img{
            margin-top: 10px;
            width: 300px;
            height: 100px;
        }
    }
}

@media screen and (min-width: 500px) {
    #glavni{
       #meni{
           justify-content: start;
           ul{
               li{
                   a{margin-left: 10px};
                   display: inline;
               }
           }
       }
   }
}

@media screen and (min-width: 800px) {
    #glavni{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        #meni{
            grid-column: span 3;
            
        }
        #odabirVjezbe{
            grid-column: 1;
            grid-row: span 2;
        }   
        
    }
}