@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: 'Poppins';
  background-image: url("https://wallpaperset.com/w/full/e/2/b/492399.jpg");
  background-repeat: no-repeat;
}

#glavni {
  margin: 0 auto;
  width: 100%;
}

#glavni #meni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: rgba(68, 18, 18, 0.733);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 98px;
}

#glavni #meni ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

#glavni #meni ul a {
  color: #ebe5e5;
  font-weight: bold;
  text-decoration: none;
}

#glavni #meni ul a:hover {
  color: #f86262;
}

#glavni #meni ul li {
  text-align: center;
  width: 100%;
}

#glavni #odabirVjezbe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(91, 138, 53, 0.89);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2px;
}

#glavni #odabirVjezbe .vjezba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  background-color: #e7e6e6;
}

#glavni #odabirVjezbe .vjezba h3 {
  margin: 0 auto;
}

#glavni #odabirVjezbe .vjezba .zadaci {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(80, 23, 23, 0.582);
  overflow-x: scroll;
}

#glavni #odabirVjezbe .vjezba .zadaci .zadatak {
  font-style: italic;
  margin: 4px;
  padding: 4px;
  background-color: #85ce7e;
}

#glavni #odabirVjezbe .vjezba .zadaciInvisible {
  display: none;
}

#glavni .graf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(91, 138, 53, 0.89);
}

#glavni .graf img {
  margin-top: 10px;
  width: 300px;
  height: 100px;
}

@media screen and (min-width: 500px) {
  #glavni #meni {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #glavni #meni ul li {
    display: inline;
  }
  #glavni #meni ul li a {
    margin-left: 10px;
  }
}

@media screen and (min-width: 800px) {
  #glavni {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
  }
  #glavni #meni {
    grid-column: span 3;
  }
  #glavni #odabirVjezbe {
    -ms-grid-column: 1;
    grid-column: 1;
    grid-row: span 2;
  }
}
/*# sourceMappingURL=style.css.map */