@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: 'Poppins';
  background-image: url("https://wallpaperset.com/w/full/e/2/b/492399.jpg");
  background-repeat: no-repeat;
}

#glavni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#glavni #forma-div {
  background-color: rgba(168, 25, 25, 0.712);
  color: white;
  margin: 0 auto;
  margin-top: 20%;
  width: 50%;
  border-radius: 20px;
}

#glavni #forma-div #naslov {
  color: #51e9aa;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
  font-style: italic;
  font-size: 2vw;
}

#glavni #forma-div #forma-repozitorij {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3px;
}

#glavni #forma-div #forma-repozitorij input, #glavni #forma-div #forma-repozitorij label {
  width: 100%;
}

#glavni #forma-div #forma-repozitorij input[type=submit] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */